/laskarit/viikko2/Maksukortti/.idea
/laskarit/viikko2/Maksukortti/Maksukortti.iml
/laskarit/viikko2/Maksukortti/target
/laskarit/viikko2/Unicafe/.idea/
/laskarit/viikko2/Unicafe/Unicafe.iml
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/.classpath
/laskarit/viikko2/Unicafe/.project
/laskarit/viikko2/Unicafe/.settings
ProductiveTime/.idea
ProductiveTime/ProductiveTime.iml
ProductiveTime/target
ProductiveTime/activity.db
