/laskarit/viikko2/JUnit-testaus/.idea
/laskarit/viikko2/JUnit-testaus/Maksukortti.iml
/laskarit/viikko2/JUnit-testaus/target
laskarit/viikko2/Unicafe/.idea/
laskarit/viikko2/Unicafe/Unicafe.iml
laskarit/viikko2/Unicafe/target/
