/laskarit/viikko2/Maksukortti/.idea
/laskarit/viikko2/Maksukortti/Maksukortti.iml
/laskarit/viikko2/Maksukortti/target
laskarit/viikko2/Unicafe/.idea/
laskarit/viikko2/Unicafe/Unicafe.iml
laskarit/viikko2/Unicafe/target/
