@font-face {
    src: url('fonts/JetBrainsMono-Medium.ttf');
}

.label {
    -fx-font-family: 'JetBrains Mono Medium';
    -fx-font-size: 15;
}

.button .text {
    -fx-font-family: 'JetBrains Mono Medium';
}